@import url(https://fonts.googleapis.com/css?family=Cabin+Condensed);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body::-webkit-scrollbar {
}

.not-allowed-cursor {
	cursor: not-allowed;
}

body {
	text-align: center;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

#text h1 {
	color: #99aab5;
	line-height: 225%;
}
#text h2 {
	color: #cdd7dd;
	line-height: 175%;
}
strong {
	color: #cdd7dd;
}

div {
	text-align: center;
	color: white;
}

.img {
	width: 100%;
	max-width: 400px;
	padding: 1rem;
}

#content {
	display: flex;
	height: 100vh;
	flex-direction: column;
	background: #2c2f33;
	background-attachment: fixed;
	background-position: center;
}

.left-align {
	text-align: left;
	align-items: left;
}
.center-align {
	text-align: center;
	align-items: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.right-align {
	text-align: right;
	align-items: right;
}

#text {
	flex-grow: 1;
	justify-content: space-evenly;
	align-items: stretch;
	font-size: 20px;
	margin: 5%;
	padding: 2rem 5rem 2rem;
	cursor: default;
	line-height: 175%;
}

.hotbar {
	z-index: 100;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background: #23272a;
	align-self: stretch;
	-webkit-app-region: drag;

	position: fixed;
	top: 0;
	width: 100%;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

body {
	font-family: 'Saira Extra Condensed', sans-serif;
	letter-spacing: 0.5px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.logo {
	width: 50%;
	max-width: 100px;
	padding: 2px 0px 0px 0px;
}

.menu {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
	font-size: 1.2rem;
	text-align: center;
	padding: 2.5px 10%;
	background: #df951ee3;
	font-family: calibri;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
	margin: auto;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-flex;
}

li a {
	position: relative;
	padding: 1rem 0 0.5rem;
	margin: 5% 1rem;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

li a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: #ffffff;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

a {
	color: #ffffff;
	text-decoration: underline;
}

a:hover {
	color: #ffffff;
	text-decoration: solid;
}

li a {
	position: relative;
	color: #ffffff;
	text-decoration: none;
}

li a:hover {
	color: #ffffff;
}

li a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1.1);
}

footer {
	font-family: 'Cabin Condensed', sans-serif;
	background: #23272a;
	padding: 65px 0;
	bottom: 0;
}

.footer-container {
	flex-grow: 1;
	width: 100%;
	max-width: 1300px;
	margin: auto;
	padding: 0 20px;
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	align-items: center;
	flex-wrap: wrap-reverse;
}

.rights-text {
	cursor: default;
}

.right-col {
	cursor: default;
}

.right-col h1 {
	font-size: 26px;
	color: #99aab5;
}

.page-content {
	min-height: 100vh;
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title-menu {
	text-align: center;
}

@media screen and (max-width: 960px) {
	.menu {
		justify-content: center;
		padding: 0 10% 0;
		font-size: 14px;
	}
	main {
		justify-content: space-evenly;
	}
	.title-menu {
		font-size: 0px;
	}

	#text {
		padding: 2rem 2rem 2rem;
		justify-content: center;
		font-size: 13px;
		align-items: center;
		line-height: 200%;
	}
	#text a {
		font-size: 14px;
	}
	#text h1 {
		line-height: 180%;
		font-size: 20px;
	}
	#text h2 {
		font-size: 15px;
		line-height: 150%;
	}

	.footer-container {
		max-width: 1000px;
	}
	.right-col {
		width: 100%;
		margin-bottom: 50px;
	}

	.left-col {
		width: 100%;
		text-align: center;
	}
}

/* width */
::-webkit-scrollbar {
	width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #23272a;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #ffffff;
	border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #545454;
}

.loader-container {
	z-index: 9999;
	width: 100%;
	height: 100%;
	background-color: #2c2f33;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader {
	z-index: 9999;
	width: 50px;
	height: 50px;
	border: 5px solid;
	color: #ffffff;
	border-radius: 50%;
	border-top-color: transparent;
	animation: loader 0.7s linear infinite;
}

@keyframes loader {
	to {
		transform: rotate(360deg);
	}
}

.wrapper {
	width: 100%;
	height: 75%;
	position: fixed;
	left: 100%;
	top: 100%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.wave {
	width: 2000px;
	height: 2000px;
	position: absolute;
	top: -5%;
	left: 1%;
	margin-right: 150%;
	margin-top: -200px;
	border-radius: 35%;
	background: rgba(70, 70, 70, 0.5);
	animation: wave 10s infinite linear;
}

@keyframes wave {
	from {
		transform: rotate(0deg);
	}
	from {
		transform: rotate(360deg);
	}
}

.wrapper2 {
	width: 100%;
	height: 75%;
	position: fixed;
	left: 100%;
	top: 100%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.wave2 {
	width: 1000px;
	height: 1000px;
	position: absolute;
	top: -100%;
	right: -20%;
	margin-right: 150%;
	margin-top: -150px;
	border-radius: 35%;
	background: rgba(70, 70, 70, 0.5);
	animation: wave 8s infinite linear;
}

@keyframes wave2 {
	from {
		transform: rotate(0deg);
	}
	from {
		transform: rotate(360deg);
	}
}
