* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body::-webkit-scrollbar {
}

body {
	text-align: center;
}

div {
	text-align: center;
	font-family: calibri;
	color: white;
}

.img {
	width: 100%;
	max-width: 400px;
	padding: 1rem;
}

#content {
	display: flex;
	height: 100vh;
	flex-direction: column;
	background: #2c2f33;
	background-attachment: fixed;
	background-position: center;
}

#text {
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 25px;
	padding: 1rem 5rem 2rem;
}

.hotbar {
	z-index: 100;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	background: #23272a;
	align-self: stretch;
	-webkit-app-region: drag;

	position: fixed;
	top: 0;
	width: 100%;
}

@font-face {
	font-family: "AnotherDanger";
	src: url('./assets/style/AnotherDanger.otf');
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: "Ubuntu", sans-serif;
	box-sizing: border-box;
}

body {
	font-family: 'Saira Extra Condensed', sans-serif;
	letter-spacing: 2px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.menu {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
	font-size: 1.3rem;
	text-align: center;
	padding: 2.5px 0;
	background: #df961e;
	width: 100%;
	font-family: "Ubuntu", sans-serif;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-flex;
}

a {
	position: relative;
	padding: 1rem 0 0.5rem;
	margin: 5% 1rem;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: #ffffff;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

a {
	position: relative;
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
}

a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1.1);
}

footer {
	background: #23272a;
	padding: 50px 0;
}

.footer-container {
	max-width: 1200px;
	margin: auto;
	padding: 0 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
}

.right-col h1 {
	font-size: 26px;
	color: #99aab5;
}

.page-content {
	min-height: 100vh;
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 960px) {
	.footer-container {
		max-width: 600px;
	}
	.right-col {
		width: 100%;
		margin-bottom: 60px;
	}

	.left-col {
		width: 100%;
		text-align: center;
	}
}

/* width */
::-webkit-scrollbar {
	width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #23272a;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #ffffff;
	border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #545454;
}

.loader-container {
	width: 100%;
	height: 100vh;
	background-color: #df961e;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader {
	width: 50px;
	height: 50px;
	border: 5px solid;
	color: #ffffff;
	border-radius: 50%;
	border-top-color: transparent;
	animation: loader 1.2s linear infinite;
}

@keyframes loader {
	to {
		transform: rotate(360deg);
	}
}
