* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body::-webkit-scrollbar {
}

body {
	text-align: center;
	padding: 0;
	margin: 0;
}

#text h1 {
	color: #99aab5;
	line-height: 200%;
}

div {
	text-align: center;
	font-family: calibri;
	color: white;
}

.img {
	width: 100%;
	max-width: 400px;
	padding: 1rem;
}

#content {
	display: flex;
	height: 100vh;
	flex-direction: column;
	background: #2c2f33;
	background-attachment: fixed;
	background-position: center;
}

#text {
	flex-grow: 1;
	justify-content: left;
	align-items: stretch;
	font-size: 20px;
	margin: auto;
	padding: 6rem 5rem 2rem;
}

.hotbar {
	z-index: 100;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background: #23272a;
	align-self: stretch;
	-webkit-app-region: drag;

	position: fixed;
	top: 0;
	width: 100%;
}

@font-face {
	font-family: "AnotherDanger";
	src: url('./assets/style/AnotherDanger.otf');
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: "Ubuntu", sans-serif;
	box-sizing: border-box;
}

body {
	font-family: 'Saira Extra Condensed', sans-serif;
	letter-spacing: 2px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.logo {
	width: 50%;
	max-width: 100px;
	padding: 2px 0px 0px 0px;
}

.menu {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
	font-size: 1.1rem;
	text-align: center;
	padding: 2.5px 10%;
	background: #df961e;
	font-family: "Ubuntu", sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-flex;
}

li a {
	position: relative;
	padding: 1rem 0 0.5rem;
	margin: 5% 1rem;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

li a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: #ffffff;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

a {
	color: #ffffff;
	text-decoration: underline;
}

a:hover {
	color: #ffffff;
	text-decoration: solid;
}

li a {
	position: relative;
	color: #ffffff;
	text-decoration: none;
}

li a:hover {
	color: #ffffff;
}

li a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1.1);
}

footer {
	background: #23272a;
	padding: 70px 0;
	bottom: 0;
}

.footer-container {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
}

.right-col h1 {
	font-size: 26px;
	color: #99aab5;
}

.page-content {
	min-height: 100vh;
	font-size: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title-menu {
}

@media screen and (max-width: 960px) {
	.menu {
		padding: 0 10% 0;
		font-size: 15px;
	}
	main {
		justify-content: space-evenly;
	}
	#text {
		font-size: 17px;
		align-items: center;
		line-height: 200%;
	}
	.title-menu {
		font-size: 0px;
	}
	.footer-container {
		max-width: 600px;
	}
	.right-col {
		width: 100%;
		margin-bottom: 60px;
	}

	.left-col {
		width: 100%;
		text-align: center;
	}
}

/* width */
::-webkit-scrollbar {
	width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #23272a;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #ffffff;
	border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #545454;
}

.loader-container {
	z-index: 9999;
	width: 100%;
	height: 100vh;
	background-color: #df961e;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader {
	z-index: 9999;
	width: 50px;
	height: 50px;
	border: 5px solid;
	color: #ffffff;
	border-radius: 50%;
	border-top-color: transparent;
	animation: loader 0.7s linear infinite;
}

@keyframes loader {
	to {
		transform: rotate(360deg);
	}
}

.wrapper {
	width: 100%;
	height: 75%;
	position: fixed;
	left: 100%;
	top: 100%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.wave {
	width: 2000px;
	height: 2000px;
	position: absolute;
	top: -5%;
	left: 1%;
	margin-right: 150%;
	margin-top: -200px;
	border-radius: 35%;
	background: rgba(70, 70, 70, 0.5);
	animation: wave 10s infinite linear;
}

@keyframes wave {
	from {
		transform: rotate(0deg);
	}
	from {
		transform: rotate(360deg);
	}
}
