  /*background-image: url("barre.png");*/
body{
  background-color: #f1f1f1;
}
*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}
.header{ 
  height: 30px;
  background: -webkit-linear-gradient(#d0a439, #e28b52, #d36e4f);
  -webkit-background-size: cover;
  background-size: cover; 
  background-repeat: no-repeat;
  padding: 10px 20px;
  color: #fff;
  box-shadow: inset 0 0 5px #9e623a;
}
.imglogo{
  height: 50px;
  top: 1px;
  position: absolute;
  left: 30px;
  background-size: cover;
  transition: 0.2s;
}
.logo{
  line-height: 100px;
  float: left;
  text-transform: uppercase;
}
.limg{
  width: 1000px;
}
.menu{
  font-size: 20px;
  word-spacing: 5px;
  float: right;
  line-height: 30px;
  padding: 0 30px 0 0 ;
}
.menu a{
  color: white;
  text-decoration: none;
  font-weight:bold;
  padding: 0 5px;
  transition: 0.2s;
}
.show-menu-btn,.hide-menu-btn{
  color: #f1f1f1;
  transition: 0.2s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{  
  top: 1px;
  float: right;
}
.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: #c2c2c2; 
}
#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}
.content{
  padding: 0 20px;
}
.content p{
  text-align: justify;
}
@media screen and (max-width:1000px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: -webkit-linear-gradient(#d0a439, #e28b52, #d36e4f);
    -webkit-background-size: cover;
    background-size: cover; 
    background-position: center center;
    background-repeat: no-repeat;

    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.5s;
  }
  .menu a{
    display: block;
    padding: 20px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
  }
  #chk:checked ~ .menu{
    right: 0;
  }
  .slideshow{
    z-index: -1;
  }
  .middle{
    z-index: -1;
  }
}